@model AspNetIdentity.Models.ChangePassword

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Change Password [ validate by jquery.validate.unobtrusive.js and jquery.validate.inline.js]</h1>
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.OldPassword)</td>
                <td>@Html.PasswordFor(m => m.OldPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.NewPassword)</td>
                <td>@Html.PasswordFor(m => m.NewPassword)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.ConfirmNewPassword)</td>
                <td>@Html.PasswordFor(m => m.ConfirmNewPassword)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Change" /></td>
            </tr>
        </table>
    }
    @Html.ValidationSummary()


@section Scripts{
    <script src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.validate.inline.js"></script>
<link href="~/Content/validationEngine.jquery.css" rel="stylesheet" />
    <script type="text/javascript">
    $(function () {
        $("form").makeValidationInline();
    });
    </script>
}